@use "sass:map";
@use "sass:color";

.interactive-badge {
    .btn-close {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        border: none;
        outline: none;
        border-radius: 50%;
        width: 1rem;
        aspect-ratio: 1;
        padding: 0;
        background-color: transparent;

        svg {
            width: .7rem;
            height: .7rem;
            fill: white;
        }

        &:hover {
            cursor: pointer;
            background-color: color.adjust($white, $alpha: -0.5);
        }
    }
}