@use "sass:map";

.profile-card {
    display: flex;
    gap: map.get($spacers, 3);
    align-items: center;

    .profile-picture {
        flex-shrink: 0;
        position: relative;
        width: 3.5rem;
        aspect-ratio: 1;
        border-radius: 50%;

        border: map.get($border-widths, 3) solid $danger;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .profile-meta {
        display: flex;
        flex-direction: column;

        .profile-name {
            font-size: map.get($font-sizes, 6);
            font-weight: 700;
            line-height: 1;
        }

        .profile-action {
            font-size: $small-font-size;
            color: $text-muted;

            a {
                color: inherit;

                &:hover {
                    color: $link-hover-color;
                }
            }
        }
    }
}