// Colors
$primary: #45BCFF;
$dark: #2E2D31;
$danger: #FF0458;
$warning: #FCD13B;
$success: #00F0B6;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Proxima Nova", sans-serif !important;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$link-hover-color: $danger;
$link-decoration: none;

$headings-font-weight: $font-weight-bold;
